rc/config/.mono
rc/config/configstore
**/StardewValley/*
rc/docker/config.json
rc/docker/buildx/
rc/docker/cli-plugins/
rc/docker/trust/
rc/docker/manifests/
rc/docker/.buildNodeID
rc/docker/application-template/
rc/config/hub
rc/config/rebar3/hex.config
rc/config/renode/*
